
@{
    ViewBag.Title = "Test";
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<p>學號:410818661</p>
<p>姓名:翁銘澤</p>

@{
    for (int i = 0; i < 5; i++)
    {
        <ol>
            @i,@fruits[@i]
        </ol>
    }
}

